@import "variables.css";

body {
  position: relative;
  min-height: 100vh;
  font-family: var(--main-font);
}

/* Reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Header Section */
header {
  display: grid;
  background-color: var(--primaryColor);
  grid-template-columns: 1fr 2fr 4fr 3fr;
  grid-template-rows: auto;
  border: 1px solid black;
}

.logga {
  display: flex;
  color: var(--primaryTextColorOnColoredBackground);
  margin: 20px;
  text-shadow: 5px 5px 7px rgb(26, 24, 24);
}

#navBar {
  display: flex;
  grid-column: 3 /4;
  justify-content: center;
  align-items: center;
  margin-right: 40px;
}

.homeLink,
.designLink,
.supportLink {
  color: var(--primaryTextColorOnColoredBackground);
  text-decoration: none;
  font-size: 25px;
  margin: 10px;
}

.link:hover {
  opacity: 0.6;
}

/* Footer Section */
footer {
  background-color: var(--primaryColor);
  position: absolute;

  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 20px;

  border: 1px solid black;
}

.social {
  width: 200px;
  margin: 0 auto;
  padding: 10px;
  display: flex;
  justify-content: space-around;
}

.social-icon-link {
  text-decoration: none;
  color: black;
}

.social-icon {
  display: inline-block;
  width: 2em;
  height: 2em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

.copyright {
  padding: 20px;
}
