@import "variables.css";

/* Reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Header Section */
header {
  display: grid;
  grid-template-columns: 1fr 2fr 4fr 3fr;
  grid-template-rows: auto;
  border: 1px solid black;
}

.logga {
  display: flex;
  color: rgb(8, 231, 247);
  border: 1px solid black;
  margin: 20px;
  text-shadow: 2px 2px 2px rgb(56, 52, 52)

}

#navBar {
  display: flex;
  grid-column: 3 /4;
  justify-content: center;
  align-items: center;
  margin-right: 40px;
  
}

.homeLink,
.designLink,
.supportLink {
  color: rgb(43, 43, 88);
  text-decoration: none;
  font-size: 25px;
  border: 1px solid black;
  margin: 10px;
}

.link:hover {
  opacity: 0.6;
}