/* Diverse variabler för ez ändringar*/
:root {
  --primaryColor: #0061ff; /* #1da1f2 */
  --primaryColorLight: #71c9f8;
  --primaryTextColorOnColoredBackground: white;

  --main-font: "Lato", sans-serif;
}
