.about {
  display: grid;
  grid-template-columns: 1.8fr repeat(10, 1fr) 1.8fr;
  grid-template-rows: 0.5fr repeat(6, 1fr) 0.5fr;
  gap: 20px;
  justify-items: center;
  height: 600px;

  background-color: #eee;
}

.about-header,
.about-body,
.about-footer {
  display: flex;
  align-items: center;
}

.about-fig {
  grid-row: 3 / 7;
  grid-column: 2 / 7;
  align-self: center;
}

.about-img {
  height: auto;
  width: 100%;
  object-fit: cover;
}

.about-header {
  grid-row: 3 / 4;
  grid-column: 6 / 9;

  justify-content: center;
  width: 80%;
  padding: 0 12px;
  background-color: #fff;
}

.about-header-text {
  font-size: 42px;
}

.about-body {
  grid-row: 4 / 6;
  grid-column: 6 / 12;

  width: 110%;
  padding: 0 12px;
  background-color: #fff;
}

.about-text {
  font-size: 18px;
}

.about-footer {
  grid-row: 6 / 7;
  grid-column: 6 / 9;

  justify-content: space-around;
  width: 100%;
  background-color: #fff;
}

.about-contact-text {
  font-size: 28px;
}

.about-btn {
  float: right;
  text-decoration: none;
  padding: 12px 24px;
  margin: 8px;
  border-radius: 80px;
  color: #fff;
  background-color: var(--primaryColor);
}

@media only screen and (max-width: 1200px) {
  .about-fig {
    grid-row: 2 / 6;
    grid-column: 2 / 8;
  }

  .about-header {
    grid-row: 4 / 5;
    grid-column: 7 / 10;
    width: 105%;
  }

  .about-body {
    grid-row: 5 / 7;
    grid-column: 3 / 11;
  }

  .about-footer {
    grid-row: 7 / 8;
    grid-column: 4 / 8;
    width: 110%;
  }
}

@media only screen and (max-width: 960px) {
  .about-header {
    grid-column: 7 / 11;
  }

  .about-body {
    grid-column: 2 / 12;
  }

  .about-footer {
    grid-column: 5 / 9;
    width: 120%;
  }
}

@media only screen and (max-width: 768px) {
  .about-fig {
    grid-column: 2 / 9;
  }

  .about-header {
    grid-row: 3 / 4;
    grid-column: 8 / 12;
    width: 120%;
  }

  .about-body {
    grid-row: 4 / 7;
    height: 80%;
    align-self: end;
  }

  .about-footer {
    grid-column: 4 / 10;
    width: 100%;
  }
}

@media only screen and (max-width: 580px) {
  .about {
    grid-template-rows: 0.5fr repeat(2, 1fr) repeat(3, min-content) 1fr 0.5fr;
  }

  .about-fig {
    grid-column: 2 / 12;
    align-self: start;
  }

  .about-header {
    grid-row: 2 / 3;
    grid-column: 2 / 12;
    width: 100%;
    height: 90%;
    align-self: start;
  }
  .about-body {
    grid-column: 2 / 12;
    height: 100%;
    width: 100%;
    align-self: end;
  }

  .about-footer {
    grid-row: 7 / 8;
    grid-column: 2 / 12;
    width: 100%;
  }
}
